<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<center><h1>Something went wrong!</h1></center>
<center>
    <div id = "error-msg">
        <span><h2>Our engineering team is working on it.</h2></span>
    </div>
    <div id = "error-msg-specific" th:if = "${!#strings.isEmpty(errorMsg)}">
        <span th:text = "${errorMsg}">Error Message</span>
    </div>
 <div><h2>Click <a href = "/home">here</a> to continue.</h2></div></center>
</body>
</html>